extends layout

block header
  li.brand: a(href='/') LESS2CSS
  li.divider-vertical

block content
  div.row-fluid
    div.span3.four-oh-four
      h1 4
      h1 0
      h1 4

    div.span9.four-oh-four.right-text
      h2 The page you are requesting does not exist.

block bottomScripts