| <script id="drawer.html" type="text/ng-template">
|   <section class="options-drawer" ng-cloak>
|     <article class="options-drawer-wrap" ng-transclude></article>
|     <div class="options-button" ng-class="{'active': isActive}" ng-click="toggleDrawer()"></div>
|   </section>
| </script>