@media (min-width: 980px) {
  body {
    padding-top    : 60px;
    padding-bottom : 40px;
  }
}

#lessInput {
	width: 100%;
	max-width: 100%;
	height: 410px;
}

#cssOutput {
	height: 400px;
	overflow: auto;
}

@media (max-width: 767px) {
	[class*="span"],
	.row-fluid [class*="span"] {
		float: left;
		width: 31.491712707182323%;
	  margin-left: 2.7624309392265194%;
	}
}